:root{
    --main-gray: color-mix(in srgb, white, transparent 30%);
}
body{
    padding-bottom: 70px;
}
.form-control:focus {
    border: 1px solid #0d6efd;
    box-shadow: none;
}
.input-group {
    border-width: 0 0 1px 0;
    border: none;
    outline-width: 0;
}
.hero-section {
    padding: 60px 0 60px;
    /*background-image: url("media/hero-bg-2.jpg");*/
    background-position: left;
    width: 100%;
    min-height: 50vh;
    position: relative;
}
.hero-section::after {
    content: "";
    background: color-mix(in srgb, #0d6efd, transparent 10%);
    position: absolute;
    inset: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.hero-section img {
    z-index: 7;
}
.hero-img{
    z-index: 8;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
.hero-section h1 {
    color: white;
    font-size: 4.5rem;
    z-index: 5;
}
.hero-section p {
    color: var(--main-gray);
    font-size: 1.3rem;
    z-index: 4;
}
.hero-section h1 span {
    color: white;
    border-bottom: 4px solid #0d6efd;
}
.hero-section a {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
    transition: 0.5s;
    text-align: center;
    display: inline-block;
    width: fit-content;
}

.hero-section .hero-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
}
.hero-section .wave1 use {
    animation: move-1 10s linear infinite;
    animation-delay: -2s;
    fill: white;
    opacity: 0.6;
}
@keyframes move-1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}
.hero-section .wave2 use {
    animation: move-2 8s linear infinite;
    animation-delay: -2s;
    fill: white;
    opacity: 0.4;
}
@keyframes move-2 {
    0% {
        transform: translate(-85px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}
.hero-section .wave3 use {
    animation: move-3 6s linear infinite;
    animation-delay: -2s;
    fill: white;
}
@keyframes move-3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}
/* end of hero styling */



